body{
    background-color: #F3EBE0;
}
.list{
    list-style: none;
}
 .link{
text-decoration: none;
display: inline-block;
color: black;
font-family: 'Barlow', sans-serif;

 }
 .link:hover,
 .link:focus{
    color: #EE7B10;
 }

 p{
    font-family: 'Barlow', sans-serif;
 }

 .container{
    padding-left: 15px;
    padding-right: 15px;
    width: 1100px;
    margin: auto;
 }
 .logo{
    font-family: 'Exo 2', sans-serif;
    font-size: 32px;
    
 }

 .main-tittle{
    margin-bottom: 20px;
    font-style:  'Lora', serif;
    font-weight: 200;
    text-align: center;
    font-size: 28px;
 }

 .tittle{
    margin-bottom: 20px;
    font-style:  'Lora', serif;
    font-weight: 200;
    font-size: 24px;
 }

 .img-wrap{
    margin-top: 30px;
    margin-bottom: 20px;
 }
 



 